
 :root {
    --white: #fff;
    --white-o: rgb(255, 255, 255);
    --black: #000;
    --primary-color: #008da0;
    --primary-color-o: #008da0ab;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: .75em;
}
/* BÚSQUEDA GENERAL */


/* FAVORITOS BÚSQUEDA */
.fav {
    box-shadow: 0 0 20px var(--primary-color);
}
.nofav {
    box-shadow: 0 0 8px rgba(0, 0, 0, 5);
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
/* NO LOGIN VISTA MAESTRO */
.main__cont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    position: relative;
    align-items: center;
    transition: all 2s ease-in-out;
}
.input__box-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input__mail-resetBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input__mail-reset {
    margin-bottom: 1.2rem;
}

.reset__mail-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.reset__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.input__search, .input__mail-signup, .input__pass-signup, .input__mail-reset, .input__pass-reset {
    padding: .4rem 2rem;
    border-radius: 20rem;
    border: none;
    outline: none;
    text-align: center;
}
.input__data-firstName {
    outline: none;
    padding: .4rem 2rem;
    border-radius: 20rem;
}
.btn__search-box {
    border: 2px solid var(--white);
    width: 6rem;
    border-radius: 20rem;
    background-color: var(--white);
}
.btn__mail-reset {
    background: var(--white);
    border: none;
    padding: .1rem 1rem;
    border-radius: 20rem;
}
.btn__search, .btn__mail-reset {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--primary-color);
}

/* CLASES DINÁMICAS */
.bg {
    background-image: linear-gradient(to bottom, var(--primary-color-o), var(--white-o)), url('./media/bg-home.jpg');
    background-size: cover;
}


.logo {
    width: 6rem;
}


.home__cont, .signup__cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.btn__logs-box .btn__sign-up {
    margin-right: 1.2rem;
}
.btn__home-box-signup {
    flex: 0 0 30%;
}
.btn__logs-box, .btn__home-box-signup {
    align-self: center;
    padding: 1.2rem;
    margin-bottom: 4rem;
}
/* .btn__sign-up {
    margin-right: 1.2rem;
} */
.btn__sign-up, .btn__logs, .btn__home-signup, .btn__send-login, .btn__reset-mailHome {
    border: none;
    background: none;
    margin-bottom: 2rem;
    color: var(--white);
    text-transform: uppercase;
}
.btn__send {
    border: none;
    width: 6rem;
    background: var(--white);
    padding: .2rem 1rem;
    border-radius: 20rem;
    color: var(--primary-color);
    align-self: center;
}
.main__title-box {
    margin-bottom: 1.2rem;
}
.main__title {
    text-transform: uppercase;
    color: var(--white);
}
.input__search {
    margin-bottom: 1.2rem;
}
.btn__search-box {
    text-align: center;
}

/* NO LOGIN SIGNUP VIEW */


.input__mail-signup, .input__pass-signup {
    outline: 0;
    margin-bottom: 1.2rem;
}
.input__box-signup {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.btn__send, .text__aux-box {
    margin-bottom: 2rem;
}

.text__aux-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__aux {
    margin-right: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 0 0 2px #333;
}

/* NO LOGIN LOGIN VIEW */
.login__cont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btn__verify-box {
    margin-bottom: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn__verify, .btn__login-aux {
    border: none;
    background: var(--white);
    padding: .2rem 1rem;
    border-radius: 20rem;
    color: var(--primary-color);
}



/* USUARIO LOGUEADO --------------------------------*/
/* VISTA MAESTRO */
.btn__profile, .btn__favs {
    border: none;
    background: none;
    margin-right: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
}

/* VISTA PROFILE */
.prof__cont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn__home {
    margin-right: 1.2rem;
}
.imgProfBox {
    margin-bottom: 2rem;
}
.imgProf {
    width: 10rem;
}
.btn__prof-box {
    flex: 0 0 20%;
    padding: 1.2rem;
    align-self: center;
}
.btn__home, .btn__prof-logout, .btn__edit {
    border: none;
    background: none;
    color: var(--primary-color);
    text-transform: uppercase;
}
.user__Data-box {
    display: flex;
    text-align: center;
}
.btn__edit-box {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
}
.firstName__box h4 {
    margin-bottom: .2rem;
}
.input__data-firstName {
    margin-bottom: .6rem;
}


/* VISTA FAVORITOS */
.main__cont-fav {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.btn__fav-box {
    padding: 4rem 1.2rem;
    align-self: center;
    margin-bottom: 2rem;
}
.btn__home-reset {
    border: none;
    background: none;
    color: var(--white);
    text-transform: uppercase;
}
.input__box-reset {
    margin-top: 4rem;
    margin-bottom: 1.2rem;
}
.btn__home-fav {
    border: none;
    background: none;
    color: var(--primary-color);
    text-transform: uppercase;
}
.btn__home-fav:not(:last-child) {
    margin-right: 1.2rem;
}
.course__components {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    background-color: var(--white-o);
    
}
.title__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}
.description__box {
    margin-bottom: 2rem;
}
.rating__box {
    margin-bottom: 2rem;
}
.title__box h3 {
    width: 70%;
    text-align: left;
    font-size: 1.2rem;
}
.title__box a {
    justify-content: flex-start;
}
.img__box {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    text-align: center;
}
.img__box img {
    width: 230px;
    height: 115px;
}

.firstName__box {
    text-align: center;
}

.firstName__text {
    text-transform: uppercase;
    color: var(--primary-color);
}

