* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: .75em;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.img__box {
    width: 100%;
}
.img__box img {
    width: 100%;
}
.input__box-signup {
    display: flex;
    flex-direction: column;
}
.input__mail-signup, .input__pass-signup {
    width: 60%;
}
.text__aux-box {
    display: flex;
}
/* body {
    font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.main__login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
} */